<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <div sec:authorize="isAuthenticated()">
        Welcome <span sec:authentication="name">Username here</span>
        <i><span sec:authentication="principal.authorities">Roles here</span></i>
    </div>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="logout">
    </form>

    <h1>Product Manager</h1>
    <div sec:authorize="hasAnyAuthority('MAKER', 'ADMIN')">
        <a th:href="@{/new}">Create New Product</a>
    </div>

    <table>
        <thead>
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Made In</th>
            <th>Price</th>

            <th sec:authorize="hasAnyAuthority('ADMIN', 'CHECKER')">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}">Product ID</td>
            <td th:text="${product.name}">Name</td>
            <td th:text="${product.brand}">Brand</td>
            <td th:text="${product.madein}">Made in</td>
            <td th:text="${product.price}">Price</td>
            <td sec:authorize="hasAnyAuthority('ADMIN', 'CHECKER')">
                <a th:href="@{'/edit/' + ${product.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a sec:authorize="hasAuthority('ADMIN')" th:href="@{'/delete/' + ${product.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>